@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&display=swap');
/*font-family: 'Radio Canada', sans-serif;*/
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar {
  display: none;
  }

.contenedor_general{
  width: 100%;
  height:100%;
  min-width: 375px;
  display: flex;
  flex-direction: column;
}


/*Contenedor nav-bar*/
.nav_bar{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items:center;
  min-width: 375px;
  min-height: 8vh;
}

.nav_bar_1{
  display: flex;
  width: 30%;
  margin: auto;
  min-width: 300px;
}


.imagen_nav_bar img{
  width: 100%;
  height: 100%;
}



.nav_bar_2{
  width: 60%;
  display: flex;
  flex: 1;
  min-width:370px ;
}

.ubicacion{
  display: flex;
  width: 70%;
  border-right: 2px solid rgba(128, 128, 128, 0.682);
}

.ubicacion p{
  margin: auto;
  font-size: 20px;
  width: 70%;
  height: 80%;
  padding: 5px;
}

.imagen_ubicacion{
  margin: auto;
  width: 5%;
  height: 50%;
  min-width: 30px;
  min-height: 30px;
}
.imagen_ubicacion img{
  width: 100%;
  height: 100%;
}

.flecha{
  width: 10%;
  height:75%;
  margin: auto;
  display: flex;
}
.flecha i{
  margin: auto;
  color: orangered;
}


.boton_carrito{
  margin: auto;
  border-radius: 10px;
  min-width: 70px;
  color: white;
  width: 10%;
  height: 90%;
  background: #0ac863;
  display: flex;
  flex-direction: row;
}
.boton_carrito a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.boton_carrito a:hover{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.boton_carrito:hover{
  text-decoration: none;
  color: rgb(255, 255, 255);
  height: 100%;
  width: 13%;
  font-size: 20px;
}

.imagen_carrito{
  width: 60%;
  height: 100%;
  display: flex;
}

.imagen_carrito i{
  margin: auto;
}

.productos_carrito{
  width: 30%;
  height: 70%;
  text-align: center;
  align-items: center;
  margin: auto;
  justify-content: center;
  font-size: 20px;
  display: flex;
}

/*Body fuera del nav-bar*/
.cuerpo{
  background: rgb(252, 252, 252);
}

/*Seccion bienvenida*/

.seccion_bienvenida{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50vh;
  min-width: 370px;
}

.bienvenida{
  background-image: url("../img/nav-bar/banner.png");
  background-position:center center; /*respecto a body*/
  background-repeat: no-repeat;
  height: 100%;
  width: 90%;
  height: 80%;
  margin: auto;
  border-radius: 15px;
  color: rgb(249, 249, 249);
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex; 
}


/*Seccion de ofertas*/

.seccion_ofertas{
  width: 95%;
  margin: 20px auto;
  min-width: 80vh;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  min-width: 370px;
  color: black;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.412);
  background: white;
}

.cards{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
  justify-content: space-around;
  padding: 13px;
  flex-wrap: wrap;
}

.ofertas{
  
  font-family: 'Radio Canada', sans-serif;
  width: 98%;
  margin: auto;

}
/*Estilos tarjeta*/
.tarjeta{
  height: 50vh;
  width: 17%;
  min-width: 170px;
  min-height: 450px;
  flex: 1;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 2px 1px rgba(195, 195, 195, 0.16);
}
.descuento{

  width: 35%;
  color: rgb(66, 0, 66);
  background: rgb(222, 184, 222);
  border-radius: 10px;
  text-align: center;
  font-size: 15px;
  margin: 1px 80% 1px 2%;
}

.imagen_tarjeta{
  width: 80%;
  margin: auto;
}
.imagen_tarjeta img{
  width: 100%;
  height: 100%;
}

.precio{
  font-weight: bold;
  font-family: 'Radio Canada', sans-serif;
  margin: 1px auto;
  width: 90%;
}

.titulo{
  margin: 1px auto;
  width: 90%;
}

.agregar{
  background: #0ac863;
  color: white;
  font-size: 15px;
  margin: auto;
  width: 80%;
  height: 10%;
  border-radius: 10px;
  border-style: none;
}