@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*font-family: 'Roboto', sans-serif;*/
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}

.contenedor_general{
  border: 3px solid rgb(0, 0, 0);
  width: 100%;
  height:100%;
  min-width: 375px;
  display: flex;
  flex-direction: column;
}


/*Contenedor nav-bar*/
.nav_bar{
  border: 3px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items:center;
  min-width: 375px;
  min-height: 10vh;
}

.nav_bar_1{
  display: flex;
  width: 30%;
  margin: auto;
  min-width: 300px;
}


.imagen_nav_bar img{
  width: 100%;
  height: 100%;
}



.nav_bar_2{
  width: 60%;
  display: flex;
  flex: 1;
  min-width:370px ;
}

.ubicacion{
  display: flex;
  width: 70%;
  border: 2px solid red;
}

.ubicacion p{
  margin: auto;
  border: 2px solid red;
  font-size: 20px;
  width: 70%;
  height: 80%;
  padding: 5px;
}

.imagen_ubicacion{
  margin: auto;
  border: 2px solid cyan;
  width: 7%;
  height: 75%;
}
.imagen_ubicacion img{
  width: 100%;
  height: 100%;
}

.flecha{
  border: 2px solid rgb(0, 0, 0);
  width: 10%;
  height:75%;
  margin: auto;
  display: flex;
}
.flecha i{
  margin: auto;
  color: orangered;
}


.boton_carrito{
  margin: auto;
  border-radius: 10px;
  min-width: 70px;
  color: white;
  width: 10%;
  height: 90%;
  background: rgb(3, 250, 3);
  display: flex;
  flex-direction: row;
}
.boton_carrito a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.boton_carrito a:hover{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.boton_carrito:hover{
  text-decoration: none;
  color: rgb(255, 255, 255);
  height: 100%;
  width: 13%;
  font-size: 20px;
}

.imagen_carrito{
  width: 70%;
  height: 100%;
  display: flex;
}

.imagen_carrito i{
  margin: auto;
}

.productos_carrito{
  width: 30%;
  height: 70%;
  text-align: center;
  margin: auto;
  justify-content: center;
  font-size: 20px;

}


/*Seccion bienvenida*/

.bienvenida{
  margin: 2% auto;
  width: 100%;
  height: 20%;
}
.imagen_bienvenida{
  width: 100%;
  height: 100%;
}


.imagen_bienvenida img{
  width: 100%;
  height: 100%;
}


/*Seccion de ofertas*/
.seccion_oferta{
 border: 2px solid black;
  height: 70vh;
  width: 90%;
  margin: 10% auto;
}
.ofertas{
  margin: auto;
  height: 10%;
}

.deslizador{
  width: 100%;
  height: 90%;
  margin:auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


/*Estilos tajetas*/

.tarjeta{
  border: 2px solid orange;
  width: 20%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.descuento{
  margin: auto;
}

.imagen_tarjeta{
  width: 90%;
  margin: auto;
}

.imagen_tarjeta img{
  width: 100%;
  height: 100%;
}

.precio{
  
  margin: auto;
  font-weight:bold;
}

.titulo{
  width: 70%; 
  margin: auto;
}


.agregar{
  background: rgb(0, 255, 13);
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  width: 90%;
  height: 10%;
  color: white;
  margin: auto;
  font-size: 1em;
}

.auto{
  margin: auto;
}